*.pc
/src/*.c
/include/GL/*.h
/build/vc6/*.rc
/build/*/*.sdf
/build/*/*.suo
/build/*/*.vcxproj.user
/build/*/tmp/
/build/cmake/CMakeFiles/
/build/cmake/CMakeCache.txt
/build/cmake/cmake_install.cmake
/build/cmake/Makefile
/auto/extensions
/auto/registry
/bin
/lib
/tmp
/out
