h1 
{   
	color: black;
	font: 23px "Verdana", "Arial", "Helvetica";
	display: inline;
	font-weight: bold
}

h2
{   
	color: black;
	font: 18px "Verdana", "Arial", "Helvetica";
	font-weight: bold
}

h3
{   
	color: black;
	font: 18px "Verdana", "Arial", "Helvetica";
}

small
{
	font: 12px "Verdana", "Arial", "Helvetica";
}

body, table, td, p, div
{
	color: black;
	font: 10pt "Verdana", "Arial", "Helvetica"
}

tt, blockquote
{
	color: maroon;
}

a:link
{    
	color: darkblue;
	text-decoration: none;

}

a:visited
{    
	color: darkblue;
	text-decoration: none;

}

a:hover
{    
	color: crimson;
	text-decoration: underline;

}

ul
{
	list-style-type: square;
}

ul.none
{
	list-style-type: none;
}
